<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
        <h2 style="color:skyblue; margin-top: 50px;">Ecrire un Message</h2> <br />
        <div class="col-12 pb-5">
          <label class="form-label">Titre</label>
          <input class="w-100 form-control"
          [(ngModel)]="m.title" type="text" name="title" id="title">

          <label class="form-label">Message</label>
          <textarea class="w-100 form-control"
           [(ngModel)]="m.content" name="content" id="content" rows="5"></textarea> <br />
           
           <button (click)="addNewMessage()" type="button" class="btn btn-success">Envoyer</button>
        </div>
      </div>
    </div>
</div>